$theme_config = hexo-config("highlight_theme")

if $theme_config == "default"
  highlight-background   = #fdf6e3 //#eee
  highlight-current-line = #eee8d5  //#efefef
  highlight-line-numbers = #999     //#999
  highlight-selection    = #b58900  //#d6d6d6
  highlight-foreground   = #657b83  //#4d4d4c
  highlight-comment      = #93a1a1  //#8e908c
  highlight-red          = #dc322f  //#c82829
  highlight-orange       = #cb3b16  //#f5871f
  highlight-yellow       = #b58900  //#eab700
  highlight-green        = #859900  //#718c00
  highlight-aqua         = #2aa198  //#3e999f
  highlight-blue         = #268bd2  //#4271ae
  highlight-purple       = #6c71c4  //#8959a8

if $theme_config == "night"
  highlight-background   = #2d2d2d
  highlight-current-line = #393939
  highlight-line-numbers = #666
  highlight-selection    = #515151
  highlight-foreground   = #cccccc
  highlight-comment      = #999999
  highlight-red          = #f2777a
  highlight-orange       = #f99157
  highlight-yellow       = #ffcc66
  highlight-green        = #99cc99
  highlight-aqua         = #66cccc
  highlight-blue         = #6699cc
  highlight-purple       = #cc99cc  
